body{
    background-color: black;
    color: white;
    overflow: hidden;
}
.app{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2{
    font-size: 100px;
}

button{
    margin: 0 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

:disabled{
    cursor: no-drop;
}